* {
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: Montserrat;
}

.width-1920 {
    max-width: 1920px;
}

.bg-orange {
    background-color: #ff8000;
}

.bg-grey {
    background-color: rgb(70, 70, 70);
}

.padding-sides-60 {
    padding: 0 60px;
}

header {
    height: 120px;
    width: 100%;

    .header-div {
        height: 100%;
        display: flex;
        align-items: center;
        
        img {
            height: 80px;
        }
    }
}